@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: grey;

  .footer__logo {
    @include flex-center-center;

    img {
      // margin: 10px;
      // height: 60px;
      padding: 5px;
      height: 7vh;
    }

  }

  .footer__links {
    display: flex;

    a {
      margin: 5px;
      text-decoration: none;
      color: white;
    }
  }


  .footer__year {
    margin: 10px;
    color: white;
  }

}