.footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;

  .footer__logo {
    img {
      margin: 10px;
      height: 60px;
    }

  }

  .footer__links {
    display: flex;

    a {
      margin: 5px;
      text-decoration: none;
      color: white;
    }
  }


  .footer__year {
    margin: 10px;
    color: white;
  }

}