@import '../sass/shadow-hover.scss';

.about {
  transition: all .6s;
  position: fixed;
  top: 22vh;
  left: 35vw;
  z-index: 1000;
  background-color: rgba(239, 241, 234, 0.925);
  width: 50vw;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  font-size: 2rem;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  transition: all .3s;

  div {
    transition: all .3s;
    cursor: pointer;
    @include shadow-hover;
  }
}

.arrows {
  transform: none !important;
  cursor: auto;
}

.arrows:hover {
  transform: none;
  cursor: auto;
}

.text,
.text:hover {
  transform: none !important;
  text-shadow: none !important;
  cursor: auto;
  font-size: 1.2rem;
  padding: 1rem;

}